@font-face {
    font-family: Avenir;
    src: url(/static/avenir.ttf);
}

body {
	font-family: Avenir;
	overflow: scroll;
	margin-left: 100px;
}

h1, h2 {
	font-family: Avenir;
	font-weight: lighter;
	color: #8FDFF2;
}

p {
	width: 700px;
}

.small {
	color: gray;
}

img {
	width: 1068px;
}

.image-small img {
	width: 700px;
}

.container {
	position: relative;
	display: inline-block;
	padding-right: 20px;
}

.box {
	width: 2500px;
	margin-top: 50px;
}

#bloomberg {
	left: 94px;
	top: 116px;
	position: absolute;
	width: 652px;
	-webkit-transform: perspective(600px) rotateY(58deg);
	/* transform: perspective(600px) rotateY(58deg); */
	z-index: -1;
}

#bloombergBlackout {
	width: 700px;
	height: 466px;
	overflow: hidden;
}

#tangible {
	left: -45px;
	top: 180px;
	position: absolute;
	width: 272px;
	-webkit-transform: rotateY(49deg);
	z-index: -1;
}

#ml {
	left: -1px;
	top: 183px;
	position: absolute;
	width: 216px;
	-webkit-transform: rotateY(49deg);
	z-index: -1;
}

#tokens1 {
	left: 232px;
	  top: 212px;
	  position: absolute;
	  width: 132px;
	  -webkit-transform: rotateZ(-34deg);
	  z-index: -1;
}

#tokens2 {
	left: 277px;
	top: 53px;
	position: absolute;
	width: 123px;
	z-index: -2;
}

#bedroom {
  left: 349px;
  top: 253px;
  position: absolute;
  width: 60px;
  -webkit-transform: rotateY(-56deg);
  z-index: -1;
}

#deskCup {
	left: 160px;
	top: 319px;
	position: absolute;
	width: 124px;
	-webkit-transform: rotateY(49deg);
	z-index: -1;
}

#watch {
	left: 215px;
	top: 151px;
	position: absolute;
	width: 215px;
	z-index: -1;
}
