/*@font-face {
    font-family: Avenir;
    src: url(/static/avenir.ttf);
}

body {
	font-family: Avenir;
	overflow: scroll;
	margin-left: 100px;
}

h1, h2 {
	font-family: Avenir;
	font-weight: lighter;
	color: #8FDFF2;
}*/

.thumbnail {
	width: 100px;
	height: 100px;
	display: inline-block;
}