@font-face {
    font-family: Avenir;
    src: url(/static/avenir.ttf);
}

body {
	font-family: Avenir;
	overflow: scroll;
}

h1, h2 {
	font-family: Avenir;
	font-weight: lighter;
	color: #8FDFF2;
}

#container {
	width: 95%;
	margin: 0px auto;
}

/* Authoring Tool */

.col {
	width: 50%;
	min-height: 500px;
}

#videoCol {
	background: lightblue;
	float: left;
	text-align: center;
}

#thumbsCol {
	float: left;
	background: pink;
}

.thumbnail {
	height: 100px;
	display: inline-block;
}
