@font-face {
    font-family: Avenir;
    src: url(/static/avenir.ttf);
}

body {
	font-family: Avenir;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: Avenir;
	font-weight: lighter;
	color: #8FDFF2;
}

.container {
	width: 98%;
	margin: 0px auto;
}

.rightCol {
	width: 50%;
	height: 100%;
	float: right;
}

.leftCol {
	width: 50%;
	height: 100%;
	float: left;
}

/* Authoring Tool */

.thumbnail {
	display: inline-block;
	padding: 5px;
}

#player {
	padding: 5px;
	position: absolute;
	visibility: hidden;
}

#outputGif {
	position: absolute;
	cursor: pointer;
	opacity: 0;
}

#gifBuilder {
	z-index: 1;
	background: rgba(255,255,255,.85);
	position: fixed;
	height: 0px;
	overflow: hidden;
	top: 0px;
	opacity: 0;
}

#gifContainer {
	height: 200px;
	text-align: center;
}

#loadingGif {
	height: 200px;
	margin-top: 100px;
	text-align: center;
}

.gif {
	height: 100%;
}
