@font-face {
    font-family: Avenir;
    src: url(/static/avenir.ttf);
}

body {
	font-family: Avenir;
	overflow: scroll;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: Avenir;
	font-weight: lighter;
	color: #8FDFF2;
}

#container, #gifBuilder {
	width: 98%;
	margin: 0px auto;
}

/* Authoring Tool */

.thumbnail {
	display: inline-block;
	padding: 5px;
}

#player {
	padding: 5px;
	position: absolute;
	visibility: hidden;
}

#outputGif {
	position: absolute;
	cursor: pointer;
	opacity: 0;
}

#gifBuilder {
	z-index: 1;
	background: rgba(255,255,255,.85);
	position: fixed;
	height: 100%;
	top: 0px;
}
