<!DOCTYPE html>
<html>
	<head>
		<title>Ambient Implementations</title>

		<link rel="stylesheet" href="/static/ambient-implementations.css"></link>
		<script src="/static/ambient-implementations.js"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	</head>
	<body onload=init()>
		<h1>Three sketches for possible implementations of video headlines in ambient contexts:</h1>

		

		<div class="box">
			<h2>(1) Architectural surfaces in public environments</h2>
			<p>Walking between spaces in a building is an “in-between time” that we don’t optimize video for. Here, these images are a background for moving between spaces in the environment. They might: (1) provide an opportunity for brief and frequent engagement with the news in a way that’s less annoying than video and more dynamic than still images (2) allow a community to collectively broadcast/reinforce it’s concerns and values (3) brings far away spaces and experiences closer to the space and experience of the viewer.</p>
			<div id="bloombergBlackout" class="container image-small">
				<img src="/static/environments/bloomberg.png">
				<img id="bloomberg" src="/static/gifs/whirl.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/tangible.png">
				<img id="tangible" src="/static/gifs/download.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/ml.png">
				<img id="ml" src="/static/gifs/corn.gif">
			</div>


		</div>

		<div class="box">
			<h2>(2) Physical tokens in personal environments</h2>

			<p>We materialize the images that stick with us on our computers into physical tokens with more permanence in our personal environments. Like earworms are tunes that get stuck in our heads, “eyeworms" are images that have the same sort of stickiness. These sustain our feelings about things we care about, and broadcast this concern to others who enter the space.</p>

			<div class="container image-small">
				<img src="/static/environments/tokens.png">
				<img id="tokens1" src="/static/gifs/artisan.gif">
				<img id="tokens2" src="/static/gifs/hand.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/desk+cup.png">
				<img id="deskCup" src="/static/gifs/wu.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/Bedroom-2.png">
				<img id="bedroom" src="/static/gifs/artisan.gif">
			</div>

		</div>

		<div class="box">
			<h2>(3) Wearables</h2>

			<p>Wearable as they are right now are displays that don’t really have content, besides our inboxes and calendars, and maybe navigation. Wearables are self-centric devices, but they’re objects of fashion, and they signal to others the things that we want to remain aware of constantly. Here we put news content, references to events entirely outside ourselves, on displays that are always in our field of view, and always on view to others.</p>

			<div class="container image-small">
				<img src="/static/environments/hand.png">
				<img id="watch" src="/static/gifs/artisan.gif">
			</div>

		</div>

		<h1>Planned study design:</h1>

		<p>Two surveys, three studies: (1) A before and an after survey that assesses a person's knowledge of, attitudes towards and concern for a variety of events depicted in the moving images used in the study. (2) The moving images as well as coresponding video and still images will be put onto three interfaces (a) the glass infrastructure, (b) a screen on a nightstand, and (c) on a watch. Surveys will be given to users to spend time around these three interfaces.</p>

		<p class="small">References: To do: Add references for all image sources.</p>


	</body>
</html>