<!DOCTYPE html>
<html>
	<head>
		<title>Splintered Screens</title>

		<link rel="stylesheet" href="/static/ambient-implementations.css"></link>
		<script src="/static/ambient-implementations.js"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	</head>
	<body onload=init()>

		<img id= "titleImage" src="http://a3.format-assets.com/image/private/s--xRJjoT36--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12869285-Screenshot_2015-03-09_17_30_20_png.png">

		<img src="http://a1.format-assets.com/image/private/s--tGcL5g4g--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692249-youtube-WA5Vs6M6OXc_scene_28-75_35-45--fade1_gif.gif" class="thumbnail">

		<img src="http://a5.format-assets.com/image/private/s--oHoYjQ8O--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692240-youtube-89xoSTkn8Wo_scene_33-5_36--loop1_gif.gif" class="thumbnail">

		<img src="http://a1.format-assets.com/image/private/s--qErqytVe--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692315-youtube-89xoSTkn8Wo_scene_101_103--mask_gif.gif" class="thumbnail">

		<img src="http://a2.format-assets.com/image/private/s--Pf3Pn5JG--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692331-youtube-2Yd11yViVU0_scene_27_29-5--loop1_gif.gif" class="thumbnail">

		<img src="http://a2.format-assets.com/image/private/s--I4KWko1w--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692242-youtube-2Yd11yViVU0_scene_49_53-75--loop1_gif.gif" class="thumbnail">

		<img src="http://a5.format-assets.com/image/private/s--qBnJnrRD--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692243-youtube-gdPpJ11kg04_scene_136-5_139-437--fade1_gif.gif" class="thumbnail">

		<img src="http://a1.format-assets.com/image/private/s--9JYtJxrR--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692280-youtube-gdPpJ11kg04_scene_155-5_159-5--loop1_gif.gif" class="thumbnail">

		<img src="http://a5.format-assets.com/image/private/s--bbXBcpKs--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692245-youtube-2jLdvEF4DKk_scene_65_74--fade2_gif.gif" class="thumbnail">

		<img src="http://a1.format-assets.com/image/private/s--SpxDvChy--/c_limit,g_center,h_65535,w_900/a_auto,fl_keep_iptc.progressive,q_95/15349-12692268-youtube-2jLdvEF4DKk_scene_122-75_123-5--fade1_gif.gif" class="thumbnail">

		<div class="box">
<!-- 
			<p>Wearables are self-centric devices, but they’re objects of fashion, and they signal to others the things that we want to remain aware of constantly. </p> -->

			<div class="container image-small">
				<img src="/static/environments/hand.png">
				<img id="watch" src="http://i.imgur.com/afm1bAE.gif">
			</div>

		</div>
		
		<div class="box">
			<h2>Physical tokens in personal environments</h2>
<!-- 
			<p>We materialize the images that stick with us on our computers into physical tokens with more permanence in our personal environments. Like earworms are tunes that get stuck in our heads, “eyeworms" are images that have the same sort of stickiness. These sustain our feelings about things we care about, and broadcast this concern to others who enter the space.</p> -->

			<div class="container image-small">
				<img src="/static/environments/tokens.png">
				<img id="tokens1" src="http://i.imgur.com/jc97Dhv.gif">
				<img id="tokens2" src="http://i.imgur.com/lJWpWuH.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/Bedroom-2.png">
				<img id="bedroom" src="/static/gifs/clouds2.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/desk+cup.png">
				<img id="deskCup" src="http://i.imgur.com/0tPPq1G.gif">
			</div>

		</div>

<!-- 
		<div class="box">
			<h2>Architectural surfaces in public environments</h2>
			<p>Walking between spaces in a building is an “in-between time” that we don’t optimize video for. Here, these images are a background for moving between spaces in the environment. They might: (1) provide an opportunity for brief and frequent engagement with the news in a way that’s less annoying than video and more dynamic than still images (2) allow a community to collectively broadcast/reinforce it’s concerns and values (3) brings far away spaces and experiences closer to the space and experience of the viewer.</p>
			<div id="bloombergBlackout" class="container image-small">
				<img src="/static/environments/bloomberg.png">
				<img id="bloomberg" src="/static/gifs/whirl.gif">
			</div>

			<div class="container image-small">
				<img src="/static/environments/ml.png">
				<img id="ml" src="/static/gifs/corn.gif">
			</div>


		</div>
 -->

	</body>
</html>