<!DOCTYPE html>
<html>
	<head>
		<title>Video Headlines Demo</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='um-videoHeadlines-demo.css') }}"></link>
		<script src="{{ url_for('static', filename='backEndDemo.js') }}"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	</head>
	<body>

		<h1>Video Headlines Authoring Tool Demo</h1>

		<!-- <video src="static/video/starbucks/starbucks.mp4#t=45,48" type="video/mp4" controls="true" autoplay="true" ></video> -->

		<h2 id="url-form">
		  Video URL: <input type="text" name="url" id="url">
		  <button onclick="submitUrl()">Submit</button>
		</h2>
		<div id="thumbnails-container"></div>
		<div id="gif-editor"></div>

	</body>
</html>