<!DOCTYPE html>
<html>
	<head>
		<title>Video Headlines Demo</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='um-videoHeadlines-demo.css') }}"></link>
		<script src="{{ url_for('static', filename='um-videoHeadlines-demo.js') }}"></script>

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	</head>
	<body>
		<h1>Video Headlines Authoring Tool: Submit a URL to a video to get started</h1>
		<div id="errors">

			{{ request.args.get('error', '') }}

		</div>
		<h2 id="url-form">
			<form method="post" action="{{ url_for('submitUrl') }}">
				<label for="url">Video URL:</label>
				<input type="text" name="url"/>
				<input type="submit"/>
	        </form>
        </h2>
	</body>
</html>